<% @blogs.each do |blog|%>
<article class="post post-<%=blog.id%>">
  <header class="entry-header">
    <h1 class="entry-title">
      <a href="single.html"><%= blog.title %></a>
    </h1>
    <div class="entry-meta">
      <span class="post-category"><a href="#"><%=blog.tag_list%></a></span>

      <span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00"><%= blog.created_at.strftime '%F' %></time></a></span>

      <span class="post-author"><a href="#"><%= blog.owner %></a></span>

    </div>
  </header>
  <div class="entry-content clearfix">
    <p><%= blog.consice %>...</p>
    <div class="read-more cl-effect-14">

      <%= link_to blog_path(blog.id) do %>
          Continue readings
          <span class="meta-nav">→</span>
      <%end%>

    </div>
  </div>
</article>
<% end %>
