<div class="post post-1">
  <header class="entry-header">
    <h1 class="entry-title"><%= @blog.title %></h1>
    <div class="entry-meta">
      <span class="post-category"><a href="#"><%= @blog.tag_list %></a></span>

      <span class="post-date"><a href="#"><%= @blog.created_at.strftime '%F' %></a></span>

      <span class="post-author"><a href="#"><%= @blog.owner %></a></span>

    </div>
  </header>
  <div class="entry-content clearfix">
    <p><%= @blog.article%></p>
  </div>
</div>

<div class="read-more cl-effect-14">

  <%= link_to blogs_path do %>
      Go Back
      <span class="meta-nav"></span>
  <%end%>

</div>


<!-- begin wwww.htmlcommentbox.com -->
<div id="HCB_comment_box">
  <a href="http://www.htmlcommentbox.com">Comment Form</a> is loading comments...
</div>
<link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
<script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24mUGhZuOsW1ZyWmxMt3V%2Ff1"+"&opts=16862&num=10&ts=1442892634095");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->