<div class="content-body">
    <div class="container">
        <br><br>
        <div class="row">
            <main class="col-md-8">
                <h1 class="page-title">About Me</h1>
                <article class="post">
                    <div class="entry-content clearfix">
                       <p>
                           I am a creative software engineering student with a great interest and insightful understanding towards algorithms and software design, enthusiastic in solving the real-world problems with known technologies, rather than providing the same solution repeatedly. I have a wide interest in different aspects of computer science including data mining, functional programming, internet technology. That is, how on earth the computer works. To some degree, I define myself as a web full stack developer and a computer scientist :)
                       </p>
                        <br>
                       <p>
                           I am always trying to find a systematic approach to tackle with some specific types of problems. The process of programming to build an app, to me, is like a working pipeline in the factory. It's monotonous and boring to some degree. However, building the pipeline itself is definitely an art.
                       </p>
                        <br>
                       <p>
                           Keep this in mind: There is no magic in the computer science.
                       </p>

                    </div>
                </article>
            </main>
        </div>
    </div>
</div>