<div class="content-body">
    <div class="container">
        <br><br>
        <div class="row">
            <main class="col-md-8">
                <h1 class="page-title">Contact </h1>
                <article class="post">
                    <div class="entry-content clearfix">
                        <h3>Gmail:</h3>shortshankswinston@gmail.com
                        <br>
                        <br>
                        <br>
                        <p>
                            Hi there! If you have got any problems with my posts or have any new thoughts to share. Please send an email to me. I check the email regulary, and will reply tou soon. You are very welcome to have a further technical discussion with me.
                        </p>
                        <br>
                        <p>Cheers,</p>
                        <br>
                        <br>
                        <p>Winston Shortshanks</p>
                    </div>
                </article>
            </main>
        </div>
    </div>
</div>