<div class="row">
  <div class="col-md-4 col-sm-5 col-xs-8">
    <div class="logo">
      <h1><a href="index.html"><b>Programming</b> &amp; Art</a></h1>
    </div>
  </div><!-- col-md-4 -->
  <div class="col-md-8 col-sm-7 col-xs-4">

    <nav class="main-nav" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="cl-effect-11"><a href="/" data-hover="Home">Home</a></li>
          <li class="cl-effect-11"><a href="/about" data-hover="About">About</a></li>
          <li class="cl-effect-11"><a href="/contact" data-hover="Contact">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <!--<div id="header-search-box">-->
      <!--<a id="search-menu" href="#"><span id="search-icon" class="glyphicon glyphicon-search"></span></a>-->
      <!--<div id="search-form" class="search-form">-->
        <!--<form role="search" method="get" id="searchform" action="#">-->
          <!--<input type="search" placeholder="Search" required>-->
          <!--<button type="submit"><span class="ion-ios-search-strong"></span></button>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  </div><!-- col-md-8 -->
</div>
