
  <div class="widget widget-recent-posts">
    <h3 class="widget-title">Recent Posts</h3>
    <ul>
      <% @recent_posts.each do |post|%>
      <li>
        <%= link_to post.title, blog_path(post.id) %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="widget widget-archives">
    <h3 class="widget-title">Archives</h3>
    <ul>
      <% @archives.each do |archive| %>
          <li>
            <%= link_to archive.name,  archive_blogs_path(archive.id) %>
          </li>
      <% end %>

    </ul>
  </div>

  <div class="widget widget-category">
    <h3 class="widget-title">Category</h3>
    <ul>
      <% @categories.each do |category| %>
          <li>
            <%= link_to category.name,  category_blogs_path(category.id) %>
          </li>
      <% end %>
    </ul>
  </div>