<!DOCTYPE html>
<html>
<head>
  <title>Winston's Appraoch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= render 'layouts/header' %>
</div>

<div class="content-body">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
      <div class="col-md-3">
        <%= render 'layouts/side_bar'%>
      </div>
    </div>
  </div>
</div>

<div id="site-footer">
    <%= render 'layouts/footer' %>
</div>



</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
